---
import Box from "@/components/ui/Box.astro";
---

<div
  class="w-full flex justify-center items-center md:px-10 lg:px-0 lg:m-auto md:h-[70vh] lg:h-full"
>
  <div
    class="grid grid-cols-1 md:grid-cols-6 lg:grid-cols-12 gap-6 md:gap-5 lg:gap-y-8 lg:gap-8 text-white text-xl"
  >
    <Box
      class="md:col-span-2 lg:col-span-6"
      padding="px-12"
      name="Finance Dashboard"
      id="finance-dashboard"
      description="A financial management dashboard"
      cover="https://github.com/user-attachments/assets/5a320722-620c-4c40-8c9a-ed33ea01de39"
    />

    <Box
      class="md:col-span-4 lg:col-span-6"
      padding="px-12"
      name="Vid skool"
      id="vid-skool"
      description="An educational platform for video learning."
      cover="/vid-skool.png"
    />

    <Box
      class="md:col-span-2 lg:col-span-4"
      padding="px-8"
      name="Taskiflow AI"
      id="taskiflow-ai"
      description="An AI-powered task management tool."
      cover="/taskiflow.png"
    />
    <Box
      class="md:col-span-2 lg:col-span-4"
      padding="px-8"
      name="Parallel"
      id="parallel"
      description="A collaborative workspace for teams."
      cover="/parallel.png"
    />
    <Box
      class="md:col-span-2 lg:col-span-4"
      padding="px-8"
      name="Only Food"
      id="only-food"
      description="A food delivery service."
      cover="only-food.webp"
    />
  </div>
</div>
