---
import ExperienceItem from "@/components/ExperienceItem.astro";

interface Props {
  data: {
    title: string;
    date: string;
    description: string;
    link: string;
  }[];
}

const { data } = Astro.props;
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    data?.map((experiencie) => (
      <li class="mb-10 ms-4 mx-auto">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
