---
import EmailIcon from "@/components/icons/tech/Email.astro";
import GithubIcon from "@/components/icons/tech/Github.astro";
import LinkedInIcon from "@/components/icons/tech/LinkedIn.astro";

import Badge from "@/components/Badge.astro";
import SocialPill from "@/components/SocialPill.astro";
import TagBadge from "@/components/TagBadge.astro";

interface Props {
  badge: string;
  about: string;
  country: string;
}

const { badge, about, country } = Astro.props;
---

<header
  class="w-full
      flex
			flex-col
			items-center
			justify-center
			text-center
			space-y-4
			md:flex-row
			md:space-y-0
			md:space-x-8
			md:items-start"
>
  <div
    class="max-w-[700px]
        flex
				flex-col
				items-center
				md:items-start
				text-center
				md:text-left"
  >
    <h1
      class="text-6xl dark:text-gray-300 font-mansalva font-bold flex flex-col pb-6"
    >
      Alexander
      <span class="text-green-500"> Flores rayme </span>
    </h1>
    <Badge href="https://www.linkedin.com/in/alexander-flores-rayme-727545165/">
      {badge}
    </Badge>
    <p class="p-0 mt-3 font-semibold">{country}</p>
    <p
      set:html={about}
      class="text-gray-600 dark:text-gray-300 my-4 max-w-[590px] text-left text-pretty"
    />
    <nav class="flex flex-wrap gap-4 mt-8">
      <SocialPill
        href="https://www.linkedin.com/in/alexander-flores-rayme-727545165/"
      >
        <LinkedInIcon class="size-4" />
        LinkedIn
      </SocialPill>
      <SocialPill href="https://github.com/lexand-dev">
        <GithubIcon class="size-4" />
        Github
      </SocialPill>
      <SocialPill href="mailto:alexfloresrayme@gmail.com">
        <EmailIcon class="size-4" />
        Email
      </SocialPill>
    </nav>
  </div>
  <div class="py-4 flex flex-col items-center">
    <div>
      <img
        src="/img/profile.webp"
        alt="hero"
        class="rounded-lg
            w-[300px]
						md:max-w-[400px]
						md:h-[380px]"
      />
    </div>
    <div class="pt-10">
      <TagBadge />
    </div>
  </div>
</header>
