<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>404</h1>
                <p>
                  Blog en desarrollo <br>
                  <a href="/">Volver al inicio</a>
                </p>
            </div>
        </div>
    </div>
</section>