<article
  class="w-full flex justify-center flex-col rounded-lg border dark:border-neutral-800 p-8 text-center dark:bg-gradient-to-t dark:from-neutral-800 dark:to-neutral-800/30"
>
  <h3 class="text-lg pb-1">Mira mi CV</h3>
  <div><img class="rounded-lg" src="/projects/project-3.webp" alt="" /></div>
  <a
    class="rounded-2xl bg-green-500 text-white text-lg w-full py-1 mt-3"
    href="/resume">DOWNLOAD PDF</a
  >
</article>
