---
import Box from "./Box.astro";
---

<div class="w-full p-6 md:px-10 md:py-8 lg:m-auto md:h-[70vh] lg:h-screen">
  <div
    class="grid grid-cols-1 md:grid-cols-6 lg:grid-cols-9 gap-6 md:gap-5 lg:gap-y-8 lg:gap-8 text-white text-xl"
  >
    <Box
      class="md:col-span-2 lg:col-span-5"
      cover="https://i.ibb.co/BfScFFk/fuji-san.jpg"
    >
      <p class="p-5 lg:pt-80 md:pt-48">Fuji-san</p>
    </Box>
    <Box
      class="md:col-span-4 lg:col-span-4"
      cover="https://i.ibb.co/Gp6xtkr/hakone.jpg"
    >
      <p class="p-5 lg:pt-80 md:pt-48">Hakone</p>
    </Box>
    <Box
      class="md:col-span-2 lg:col-span-3"
      cover="https://i.ibb.co/26wWRS9/tokio.jpg"
    >
      <p class="p-5 lg:pt-80 md:pt-48">Tokyo</p>
    </Box>
    <Box
      class="md:col-span-2 lg:col-span-3"
      cover="https://i.ibb.co/qFNCcgn/kyoto.jpg"
    >
      <p class="p-5 lg:pt-80 md:pt-48">Kyoto</p>
    </Box>
    <Box
      class="md:col-span-2 lg:col-span-3"
      cover="https://i.ibb.co/qFNCcgn/kyoto.jpg"
    >
      <p class="p-5 lg:pt-80 md:pt-48">Kyoto</p>
    </Box>
  </div>
</div>
