---
import '@fontsource/mansalva';
// Supports weights 100-900
import '@fontsource-variable/lexend-deca';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="
      A personal website for me, Alexander Flores, a Frontend Developer and designer. I
      write about my experiences and share my projects." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <div class="absolute top-0 z-[-2] h-screen w-full bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,255,0,0.13)_0,rgba(0,255,0,0)_50%,rgba(0,255,0,0)_100%)]"></div>
    <Header />  
		<slot />
    <Footer />
	</body>
</html>
<style is:global>
	 :root {
    /* color-scheme: light dark; */
  }

  html {
    font-family: 'Lexend Deca Variable', system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    /* background: #050505; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
